alabaster==0.7.12
anyio==3.4.0
asgiref==3.4.1
astroid==2.3.3
autopep8==1.5.7
Babel==2.9.1
beautifulsoup4==4.8.1
Brotli==1.0.7
Carousel==0.3.2
certifi==2019.9.11
chardet==3.0.4
charset-normalizer==2.0.8
cloudinary==1.28.0
dj-database-url==0.5.0
Django==3.2.9
django-bootstrap-v5==1.0.5
django-bootstrap3==21.1
django-bootstrap4==21.1
django-heroku==0.3.1
dnspython==2.1.0
docutils==0.17.1
dulwich==0.20.26
email-validator==1.1.3
Faker==2.0.3
gunicorn==20.0.0
h11==0.12.0
h5py==3.6.0
httpcore==0.13.7
httpx==0.18.2
idna==2.8
imagesize==1.3.0
importlib-metadata==3.10.1
isort==4.3.21
Jinja2==3.0.3
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
nose==1.3.7
numexpr==2.7.3
numpy==1.21.4
Owl==0.2.1
packaging==21.3
pandas==1.3.4
Pillow==6.2.1
Pint==0.7.2
psycopg2==2.9.2
pvlib==0.9.0
pycodestyle==2.7.0
pydantic==1.8.2
Pygments==2.10.0
pyparsing==3.0.6
pyperclip==1.8.2
python-dateutil==2.8.1
python-decouple==3.5
pytz==2021.3
pyuploadcare==3.0.0
requests==2.26.0
rfc3986==1.5.0
scipy==1.7.3
six==1.13.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==1.9.5
Sphinx==4.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.2
typing-extensions==3.10.0.2
UncertaintyWrapper==0.4.2
urllib3==1.26.7
whitenoise==5.3.0
wrapt==1.11.2
xlrd==2.0.1
zipp==3.6.0
